/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

// Override the default bootstrap behavior where horizontal description lists 
//   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

// Set width on the form input elements since they're 100% wide by default 
input,
select
 {
    max-width: 280px;
}

*/
.Headerlabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color:brown ;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;   
}

    .k-grid-content {
        min-height: 75px;
    }

    .k-grid-header .k-header {
        overflow: visible !important;
        white-space: normal !important;
    }

    .k-list-container {
        width: auto !important;
    }

    .control-label {
        font-size: small !important;
        font-weight: 600 !important;
        color: teal;
    }

    .input-sm {
        font-size: 14px !important;
    }

    .k-grid tbody tr td {
        vertical-align: top;
    }

    .k-grid tbody tr td {
        font-size: small !important;
        vertical-align: top;
        overflow: visible !important;
        white-space: normal !important;
    }

    .k-dirty {
        margin: -0.17em 0 0 -.6em !important;
    }
